<footer class="footer">
  <div class="container footer-menu-wrap">
      {% for block in section.blocks %}
        <div class="{% if forloop.length >= 5 %}three columns{% elsif forloop.length == 4 %}four columns{% elsif forloop.length == 3 %}one-third column{% elsif forloop.length == 2 %}eight columns{% endif %}" {{ block.shopify_attributes }}>
          {% if block.type == 'logo' %}
            <div class="text-align--{{block.settings.text_align}}">
              {% if block.settings.image %}
                <img  alt="{{ block.settings.image.alt | escape }}"
                      class="footer-logo lazyload {{ settings.image_loading_style }}"
                      data-sizes="auto"
                      style="max-width: {{- block.settings.image.width -}}px"
                      data-src="{{ block.settings.image | img_url: '100x' }}"
                      data-srcset=" {{ block.settings.image | img_url: '200x' }} 200w,
                                    {{ block.settings.image | img_url: '300x' }} 300w,
                                    {{ block.settings.image | img_url: '400x' }} 400w,
                                    {{ block.settings.image | img_url: '500x' }} 500w,
                                    {{ block.settings.image | img_url: '600x' }} 600w,
                                    {{ block.settings.image | img_url: '1000x' }} 1000w"
                   />
              {% else %}
                <div class="logo">{{ shop.name }}</div>
              {% endif %}
            </div>
          {% elsif block.type == 'newsletter' %}
          {% elsif block.type == 'link_list' %}
            <div class="footer_menu">
              {% if block.settings.menu != blank %}
                <h6>{{ linklists[block.settings.menu].title }}<span class="right icon-down-arrow"></span></h6>
                <div class="toggle_content"><ul>{% for link in linklists[block.settings.menu].links %}<li><p><a href="{{ link.url }}">{{ link.title }}</a></p></li>{% endfor %}</ul></div>
              {% else %}
                <h6>Menu title<span class="right icon-down-arrow"></span></h6>
                <div class="toggle_content"><ul><li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li></ul></div>
              {% endif %}
            </div>
          {% elsif block.type == 'text' %}
            <div class="footer_content footer-text">
              {% if block.settings.title != blank %}
                <h6>{{ block.settings.title }}<span class="right icon-down-arrow"></span></h6>
                <div class="toggle_content">{{ block.settings.content }}</div>
              {% endif %}
            </div>
          {% elsif block.type == 'page' %}
            <div class="footer_content footer-text">
              {% if block.settings.page != blank %}
                <h6>{{ pages[block.settings.page].title }}<span class="right icon-down-arrow"></span></h6>
                <div class="toggle_content">{{ pages[block.settings.page].content }}</div>
              {% else %}
                <h6>Page title<span class="right icon-down-arrow"></span></h6>
                <div class="toggle_content"><p>{{ 'homepage.onboarding.no_content' | t }}</p></div>
              {% endif %}
            </div>
          {% elsif block.type == 'html' %}
          {% elsif block.type == 'empty' %}
            <div class="empty-column"></div>
          {% endif %}
          {% assign social_media_column = section.settings.social_media_column | plus: 0  %}
          {% if block.settings.social_icons_footer %}
            {% assign social_icons = true %}
            <div class="footer-social-icons">{% include 'social-icons' %}</div>
          {% endif %}
        </div>
        {% if forloop.last and social_icons %}<div class="footer-social-icons--mobile sixteen columns">{% include 'social-icons' %}</div>{% endif %}
      {% endfor %}
      <div class="sixteen columns row footer_credits">
        <p class="credits">
          &copy; {{ "now" | date: "%Y" }} {{ shop.name | capitalize | link_to: '/' }}
          {{ section.settings.copyright_text }}
          {% if section.settings.display_designed_by %}
            {{ 'layout.general.designer_credits_html' | t }}
            {{ powered_by_link | split: '" ' | join: '?ref=out-of-the-sandbox" ' | split: '">' | join: '?ref=out-of-the-sandbox">' }}
          {% endif %}
        </p>
        {% if section.settings.display_payment_methods %}
          <div class="payment_methods">
            {%comment%}{% for type in shop.enabled_payment_types %}
              {% if type == 'jcb'%}<img src="{{ 'jcb.jpg' | asset_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />{% endif %}
              {% if type == 'master'%}<img src="{{ 'mastercard.jpg' | asset_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />{% endif %}
              {% if type == 'visa'%}<img src="{{ 'visa.jpg' | asset_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />{% endif %}
            {% endfor %}{%endcomment%}
<!--             <img style="width:76px;" src="{{ 'IPOPHL-BCRR_logo_for_branding.png' | asset_url }}" alt="IPOPHL-BCRR Logo" />
            <img style="width:140px;" src="{{ 'ABSCBN_NEWS_JPEG-_rectangular.jpg' | asset_url }}" alt="ABSCBN Logo" />
              <img style="width:68px;" src="{{ 'dragonpay.png' | asset_url }}" alt="DragonPay Logo" />
              <img style="width:55px;" src="{{ 'eGHL.png' | asset_url }}" alt="eGHL Logo" /> -->
          </div>
        {% else %}
          <span class="payment_options">
            <a href="https://www.shopify.com/pci-compliant?utm_source=secure&amp;utm_medium=shop"
              title="This online store is secured by Shopify" target="_blank" rel="nofollow"><img
                data-src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-white.svg" class="lazyload" alt="Shopify secure badge" /></a>
            <img data-src="//cdn.shopify.com/s/files/1/0023/9278/4940/files/eghl.svg" class="lazyload" alt="eGHL logo" />
            <img data-src="//cdn.shopify.com/s/files/1/0023/9278/4940/files/fpx.svg" class="lazyload" alt="FPX logo" />
            <img data-src="//cdn.shopify.com/s/files/1/0023/9278/4940/files/paypal.svg" class="lazyload" alt="Paypal logo" />
            <img style="width:68px;" src="{{ 'dragonpay.png' | asset_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
            <img style="width:52px;" src="{{ 'eGHL.png' | asset_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Logo alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Subscribe today!"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "show_firstname",
          "label": "Show first name"
        },
        {
          "type": "checkbox",
          "id": "show_lastname",
          "label": "Show last name"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social media icons"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Content page"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "empty",
      "name": "Empty column",
      "settings": [
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "logo"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}